<div class="container-fluid menu">
    <header>
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <a href="/pojistenci/1" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 link-light text-decoration-none">PojištěníApp</a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center">
                <li><a href="/pojistenci/1" class="nav-link px-2 link-light mb-auto">Pojištěnci</a></li>
                <li><a href="#" class="nav-link px-2 link-light">Pojištění</a></li>
                <li><a href="#" class="nav-link px-2 link-light">Události</a></li>
                <li><a href="#" class="nav-link px-2 link-light">O aplikaci</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn me-2 link-light" onclick="location.href='/prihlaseni'">Přihlásit</button>
                <button type="button" class="btn link-light">Registrovat</button>
            </div>
        </nav>
    </header>
</div>