<div class="footer-basic">
    <footer>
        <div class="social"><a target="_blank" href="https://www.instagram.com/pavel.k33"><i class="icon ion-social-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/pavel.kupcik.5/"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="mailto:kupcik46@gmail.com">Napište mi</a></li>
            <li class="list-inline-item">&#9679;</li>
            <li class="list-inline-item">602 366 326</li>
        </ul>
        <p class="copyright">Pavel Kupcik © 2023</p>
    </footer>
</div>
</body>
</html>